.main {
    &__content {
        @include wrap;
        margin-top: 40px;
        padding-bottom: 40px;
    }

    .intro {
        max-width: 700px;
    }
}

.home {
    padding: 25px;
    background-color: $white;
    border-radius: 10px;

    &__menu {
        a {
            @include text(18px, 1.5);
        }
    }
}

.logo {
    @include text(24px, 24px);
    font-family: $mont-alt;
    text-decoration: none;
    color: $white;
    padding: 3px;
    border: 2px solid $white;
    border-radius: 10px;
}