header {
    padding: 20px 0;
    
    nav {
        @include wrap;

        display: flex;
        justify-content: space-between;

        a {
            @include text(24px, 24px);
            font-family: $mont-alt;
            text-decoration: none;
            color: $white;

            span {
                color: $accent;
            }
        }

        ul {
            margin: 0;
            list-style: none;
            display: flex;

            li {
                &:not(:last-child) {
                    margin-right: 25px;
                }
            }

            a {
                @include text(17px, 17px);
                font-weight: bold;
                text-decoration: none;
                color: $text;
                transition: .3s;

                &:hover {
                    color: $accent;
                }
            }
        }
    }
}