---
layout: default
---
<div class="home post">
    <h2>{{ page.title }}</h2>

    {{ content }}

    <ul>
        {% for item in page.docs %}      
        <li>
            {{ item.title }}

            <div class="info">
                {{ item.text }}

                <ul>
                    {% for file in item.files %}
                    <li><a href="{{ file.file }}">{{ file.title }}</a></li>
                    {% endfor %}
                </ul>

                <ul>
                    {% for foto in item.foto %}
                    <li><img src="{{ foto.image }}" alt="{{ foto.alt }"></li>
                    {% endfor %}
                </ul>
            </div>
            
        </li>
        {% endfor %}
    </ul>
</div>
